<div id="wrapper">
	<div id="sidebar">
		<div id="widget" class="sticky">

				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiRstCee_M5mnbAKb4XRTDtaC80bwf-AQ&callback=initMap" async defer>
			    </script>

			    <script>
			      function initMap() {
			        // Create a map object and specify the DOM element for display.
			        var map = new google.maps.Map(document.getElementById('widget'), {
			        	<% if @arrTrainings.length > 0 %>
			          center: {lat: <%= @arrTrainings[0].latitude %>, lng: <%= @arrTrainings[0].longitude %>},
			          	<% else %>
			          	center: {lat: 44.5403, lng: -78.5463},

			          	<% end %>
			          scrollwheel: false,
			          zoom: 13
			        });

			        <% @arrTrainings.each do |training| %>

			        var marker = new google.maps.Marker({
			          position: {lat: <%= training.latitude %>, lng: <%= training.longitude %>},
			          map: map,
			          title: '<%= training.tr_name %>'
			        });
			        <% end %> 
			      }

			    </script>

		</div>
	</div>

	<div id="article">
		<div class="row">
			<div class="col-md-12">


				<%= search_form_for @search, url: search_path do |f| %>
				<div class="row">
					<div class="col-md-6">
						<%= text_field_tag :search, params[:search], placeholder: "Waar ga je trainen?", class: "form-control" %>
					</div>

					<div class="col-md-3">
						<%= text_field_tag :startdate, params[:startdate], placeholder: "Tussen", class: "form-control" %>
					</div>

					<div class="col-md-3">
						<%= text_field_tag :enddate, params[:enddate], placeholder: "En", class: "form-control" %>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-3">
						<label>Max prijs</label>
					</div>
					<div class="col-md-3">
						<%= f.text_field :tr_price_lteq, placeholder: "Max Price", class: "form-control" %>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-3">
						<label>Minimale duur</label>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<%= f.select :tr_duration_gteq, [["45",45], ["60",60], ["75",75], ["90+",90]], prompt: "Tijdsduur (min)", class: "form-control" %>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-3">
						<label>Intensiteit</label>
					</div>					
					<div class="col-md-3">
						<%= check_box_tag "q[tr_intensity_eq_any][]", "Low" %> Low
					</div>
					<div class="col-md-3">
						<%= check_box_tag "q[tr_intensity_eq_any][]", "Medium" %> Medium
					</div>				
					<div class="col-md-3">
						<%= check_box_tag "q[tr_intensity_eq_any][]", "High" %> High
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<label>Voor wie</label>
					</div>					
					<div class="col-md-3">
						<%= check_box_tag "q[tr_gender_eq_any][]", "Chicks" %> Chicks
					</div>
					<div class="col-md-3">
						<%= check_box_tag "q[tr_gender_eq_any][]", "Dudes" %> Dudes
					</div>				
					<div class="col-md-3">
						<%= check_box_tag "q[tr_gender_eq_any][]", "Allebei" %> Allebei
					</div>
				</div>
				<br>

				<div class="row">
					<%= f.submit "Search", class: "btn btn-primary" %>
				</div>

				<% end %>

				<hr>
				<h4>Resultaten</h4>
				<div class="row">
				<% @arrTrainings.each do |training| %>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading preview">
								<%= image_tag training.photos[0].image.url(:medium) if training.photos.length > 0 %>
							</div>
							<div class="panel-body">
								<%= link_to training.tr_name, training %>
							</div>
						</div>
					</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function(){

		$("#startdate").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m'
		});
	})
</script> 

<script>
	$(function(){

		$("#enddate").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m'
		});
	})
</script> 

<!-- kaart mee laten schuiven, werkt nog niet 

<script>
	
	$(function(){ // document ready
 
	  if (!!$('.sticky').offset()) { // make sure ".sticky" element exists
	 
	    var stickyTop = $('.sticky').offset().top; // returns number 
	 
	    $(window).scroll(function(){ // scroll event
	 
	      var windowTop = $(window).scrollTop(); // returns number 
	 
	      if (stickyTop < windowTop){
	        $('.sticky').css({ position: 'fixed', top: 0 });
	      }
	      else {
	        $('.sticky').css('position','static');
	      }
	 
	    });
	 
	  }
	 
	});

</script>

-->