<div id="wrapper">
	<div id="sidebar">
		<div id="widget" class="sticky">
		</div>
	</div>

	<div id="article">
		<div class="row">
			<%= search_form @search, url: search_path do |f| %>
			<div class="row">
				<div class="col-md-3">
					<%= text_field_tag :date, params[:date], placeholder: "Start Date", class: "form-control" %>
				</div>

				<div class="col-md-3">
						<%= text_field_tag :tr_price_lteq, placeholder: "Max Price", class: "form-control" %>
				</div>

			<div class="row">
				<div class="col-md-4">
					<%= check_box_tag "q[tr_intensity_eq_any][]", "Low" %> Low
				</div>
				<div class="col-md-4">
					<%= check_box_tag "q[tr_intensity_eq_any][]", "Medium" %> Medium
				</div>				
				<div class="col-md-4">
					<%= check_box_tag "q[tr_intensity_eq_any][]", "High" %> High
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label>Duur</label>
						<%= f.select :tr_duration_qteq, [["45",45], ["60",60], ["75",75], ["90+",90]], prompt: "Select...", class: "form-control" %>
					</div>
				</div>
			</div>

			<br>

			<div class="row">
				<%= f.submit "Search", class: "btn btn-primary" %>
			</div>

			<% end %>

			<hr>

			<div class="row">
			<% @arrTrainings.each do |training| %>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading preview">
							<%= image_tag training.photos[0].image.url(:medium) if training.photos.length > 0 %>
						</div>
						<div class="panel-body">
							<%= link_to training.tr_name, training %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
	$(function){

		$("#date").datepicker({
			dateformat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
		})
	}
</script> 
