
<%= form_for( @thrill.new_record? ? [@training, @thrill] : @thrill ) do |f| %>


<div class="col-md-6">
	<div class="form-group">
		<%= f.text_field :thrilldate, placeholder: "Datum", class: "form-control" %>
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
		<%= f.select :thrillhr, [["0","0"],["1","1"], ["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"],["13","13"], ["14","14"],["15","15"],["16","16"],["17","17"],["18","18"],["19","19"],["20","20"],["21","21"],["22","22"],["23","23"]], id: "thrillhr", prompt: "Uur", class: "form-control" %>
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
		<%= f.select :thrillmin, [["0","0"],["5","5"], ["10","10"],["15","15"],["20","20"],["25","25"],["30","30"],["35","35"],["40","40"],["45","45"],["50","50"],["55","55"]], id: "thrillmin", prompt: "Min", class: "form-control" %>
	</div>
</div>

<div class="col-md-2">
	<div class="actions">
		<%= f.submit "Maak", class: "btn btn-primary" %>
	</div>
</div>
<br>


<% end %>
