<div class="row">
	<% if false %>
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Jouw lijst", trainings_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Jouw reserveringen", your_reservations_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Jouw trainingen", your_trips_path, class: "sidebar-link" %></li>	
		</ul>
	</div>
	<% end %>




	<div class="col-md-12">
		
		<div class="row">

			<%= form_for(@thrill, remote: true) do |f| %>

			<div class="col-md-4">
				<div class="form-group">
					<% options = options_from_collection_for_select(@trainings, 'id', 'tr_name') %>
					<%= f.select :training_id, options , id: "training_id", prompt: "Selecteer training", class: "form-control" %>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<%= f.text_field :thrilldate, placeholder: 'Datum', class: 'form-control' %>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<%= f.select :thrillhr, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"],["10","10"],["11","11"],["12","12"],["13","13"], ["14","14"],["15","15"],["16","16"],["17","17"],["18","18"],["19","19"],["20","20"],["21","21"],["22","22"],["23","23"]], id: "thrillhr", prompt: "Uur", class: "form-control" %>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<%= f.select :thrillmin, [["0","0"],["5","5"], ["10","10"],["15","15"],["20","20"],["25","25"],["30","30"],["35","35"],["40","40"],["45","45"],["50","50"],["55","55"]], id: "thrillmin", prompt: "Min", class: "form-control" %>
				</div>
			</div>

			<div class="col-md-2">
				<div class="actions">
					<%= f.submit "Voeg toe", class: "btn btn-primary" %>
				</div>
			</div>
		</div>
		<% end %>

		<% if false %>
		<div class="panel panel-default">
			<div class="panel-heading">
				Aankomende trainingen door jou </div>

			<div class="panel-body">

				<% @trainings.each do |training| %>
					<% training.thrills.each do |thrill| %>
					<div class="row">
						<div class="col-md-3">
							<%= thrill.thrilldate%>
						</div>
						<div class="col-md-4">
							<%= link_to thrill.training.tr_name, thrill %>
						</div>
						<div class="col-md-2">
							<%= thrill.reservations.length %> / <%= thrill.training.tr_max_attendants %>
						</div>
						<div class="col-md-3 right">
							<span class="pull-right">
								<%= link_to "Delete", [thrill] , method: :delete, data: {confirm: "Zeker weten?"} %>
							</span>
						</div>
					</div>
					<hr>
					<% end %>						
				<% end %>
			</div>
		</div>
		<% end %>

		<div id="thrills"><%= render 'thrills/list' %></div>

	</div>
</div>

<script>
$(function() {

			$('#thrill_thrilldate').datepicker({
				dateFormat: 'dd-mm-yy',
				minDate: 0,
				maxDate: '3m',

			});
});
</script>